@media (min-width: 992px) {
	#grid-card-display {
		margin-right: 1rem;
	}
}

#button-timer {
	padding: 10px 30px;
}

#container-timer,
#container-card-left {
	margin: 0;
	display: inline-block;
}

#timer-count {
	color: black;
}

#card-display > div {
	column-gap: 0;
}

#grid-card-display {
	grid-column: span 2;
}

#grid-card-display article {
	margin: 0;
}

#game-information {
	margin: 10px 0;
}
